*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.hero{
    width: 80%;
    height: 100px;
    background-color:#FEF7E2;
    border: transparent 2px ;
    border-radius: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    

}
.navbar{
    font-size: 24px;
    border: transparent 2px;
    background-color: rgb(255, 217, 0);
    border-radius: 30px;
    padding: 20px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    height: 60px;
    align-items: center;
    flex-basis: 100px;
    gap: 15px;
    }

.hero #logo img {
    object-fit:cover;
    height: 30px;
    width: 40px;
    flex-grow: 2;
    }

.hero #logo h1{
    font-size: 40px;
    margin: 0, 20px;
    
}

/* card miele*/

/* mockup 1 */

.sfondo{
 margin-top: 30px;
 border: transparent;
 height: 500px;
 width: 500px;
 margin: auto;
}

.sfondo img {
    height: 240px;
    width: 480px;
    margin: 10px 10px 0 10px;
    border-top-left-radius:20%;
    border-top-right-radius: 20%;
    margin: auto;
}

.description{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
   

}

#testo{
    background-color: #FEF7E2;
    height: 240px;
    width: 480px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    margin:0 10px;
}
.subdescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bottone{
    margin: 20px 160px;
    padding: 20px;
    font-size: 25px;
    border: transparent;
    border-radius: 40%;
    background-color:rgb(255, 217, 0);
}


/* elenco prodotti */


#elenco-prodotti{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    min-width: 130px;
    background-color: #FEF7E2;
    margin-top: 25px;
    padding:20px;
    margin: auto;
}




.elenco {
    background-color: rgb(255, 217, 0);
    border: transparent;
    border-radius: 50px;
    width: 100%;
    min-height: 70px;
    margin: 2px;
    display:flex;
    justify-content: left;
    padding: 0;
    align-items: center;

}

#hidden-elenco1{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 18px;
    text-overflow: ellipsis;
   }



#elenco1 img {
    overflow:hidden;
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    border: transparent;
    margin: 20px;

}

/*flex central */ 

#central{
    display: flex;
    justify-content: space-evenly;

    flex-direction: row;
    flex-wrap: wrap;
}